body {
  background: #EEE; }

.serif {
  font-family: serif; }

.sans-serif {
  font-family: sans-serif; }

.cursive {
  font-family: cursive; }

.fantasy {
  font-family: fantasy; }

.monospace {
  font-family: monospace; }
